.container {
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;

  h1 {
    margin-bottom: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
}

.itemEnter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.itemEnterActive {
  opacity: 1;
  max-height: 1000px;
  transition: opacity 300ms ease-out, max-height 300ms ease-out;
  overflow: hidden;
}

.itemExit {
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
}

.itemExitActive {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 300ms ease-out, max-height 300ms ease-out;
}

.spacer {
  height: 3rem;
}